.newnavbar {
  background: rgba(0, 7, 0, 0.897);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border-radius: 0 0 15px 15px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  transition: 1s all;
  position: sticky;
  top: 0;
  z-index: 999;
}

.newnav-active {
  background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%);
}